@import URL('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(118, 118, 229);
    color: #fff;
    font-family: 'Muli', sans-serif;
    padding: 10px;
    flex-direction: column;
}

h2{
    margin: 10px 0  20px;
    text-align: center;
}

.container{
    background-color: #23235B;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	padding: 20px;
    min-height: 250px;
	max-width: 100%;
    border-radius: 10px;
}

.result-container {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 15px;
	min-height:25px;
	width: 90%;
    border-radius: 3px;
}
.result-container #result {
    word-wrap: break-word;
	max-width: calc(90% - 20px);
}

.result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

button {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 12px;
	background-color: #3B3B98;
    display: block;
	width: 100%;
}


.settings {
	display: flex;
	justify-content: space-between;
    align-items: center;
	margin: 15px 0;
}
@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
}